#RD-SelectWallet .Dropdown-root {
    /* background-color: #3B04DE; */
}
  
#RD-SelectWallet .Dropdown-control,
#RD-SelectWallet .Dropdown-menu .Dropdown-option {
    --rd-dropdown-theme: #3B04DE;
    background-color: var(--rd-dropdown-theme);
    border: 1px solid var(--rd-dropdown-theme);
    border-radius: 300px;
    padding: 5px 0px;
    text-align: center;
    height: 50px;
}

#RD-SelectWallet .Dropdown-menu {
    background-color: transparent;
    border-color: transparent;
}

#RD-SelectWallet .Dropdown-control {
    text-align: center;
}

#RD-SelectWallet .Dropdown-control .Dropdown-placeholder {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;  
    line-height: 2.8rem;
}

#RD-SelectWallet .Dropdown-menu .Dropdown-option {
    margin-top: 10px;
    margin-bottom: 10px;
}

#RD-SelectWallet .Dropdown-arrow-wrapper .Dropdown-arrow {
    border-color: #fff transparent transparent;
    border-width: 7px 7px 0;
    right: 20px;
    top: 17px;
}

.Dropdown-root img {
    margin: auto;
}
  